body {
  margin: 0 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  padding: 1rem;
  background-color: #202D36;
  color:#fff;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  box-shadow: 0 10px 10px rgba(32, 45, 54, 0.5);
}
.grid .details{
  background-color: #2B3743;
  padding: 20px;
  margin-top: -4px;
  border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
}
.grid article img{
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  height: 200px;
  width: 100%;
}
.grid article h3{
  padding-bottom: 10px;
}
.grid article h4{
  padding-bottom: 5px;
}
@media(max-width:640px){
  .grid{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media(max-width:768px){
  .grid{
    grid-template-columns: repeat(3, 1fr);
  }
}
 .header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #2b3743;
 }

 .filter{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  background-color: #2b3743;
 }
 .filter .form-control input{
    /* background-color: #2B3743; */
    /* display: flex; */
    border: none;
    outline: none;
    padding: 8px;
    color:black;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-family: inherit;
    /* margin: 0 0 30px; */
}

.region-filter{
  
  padding: 8px;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.learnmore{
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 4px;
}
.backbtn{
  padding: 5px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  
}
